<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Product Management System</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
<div class="container">

    <hr>
    <h2>Save Product</h2>

    <form action="#" enctype="multipart/form-data" method="POST"
          th:action="@{/saveStudent}" th:object="${students}">

        <input class="form-control mb-4 col-4" placeholder="Enter Name"
               th:field="*{name}" type="text">

        <input class="form-control mb-4 col-4" placeholder="Enter Contact"
               th:field="*{contact}" type="number">

        <input class="form-control mb-4 col-4" placeholder="Enter Address"
               th:field="*{address}" type="text">

        <label>Photos: </label>
        <input accept="image/png, image/jpeg" name="image" type="file"/>
        <br/><br/>

        <button class="btn btn-info col-2" type="submit"> Save Product</button>
    </form>

    <hr>

    <a th:href="@{/}"> Back to Student List</a>
</div>
</body>
</html>